@media (max-width: 768px){
    .nav,
    .end {
        justify-content: center !important;
    }
    .nav-bar-menu ul {
        overflow-y: scroll;
        display: flex;
        align-items: center;
        max-width: 200px;
    }
    .nav-bar-menu {
        padding-right: 20px;
    }
    .slide-content {
        top: 180px;
        width: 100%;
    }
    .slider-section {
        max-height: 600px;
    }
    .nav-bar-menu ul li a.nav-bar-menu-btn {
        display: block;
        padding: 5px 15px;
        text-align: center;
    }
    .slide-content h1 {
        font-size: 50px;
    }

    .three-box-section-content {
        padding: 20px 45px;
    }
   
    .mission-box, .campaigns-left {
        padding-bottom: 15px;
    }
    .counter {
        height: auto;
        padding-bottom: 15px;
    }
    .counter-content {
        padding-top: 50px;
    }
}